body {
    padding-top: 70px;
}

td.command-column, th.command-column {
    text-align: right;
}

#templates>section>.list-group>.list-group-item>.row {
    margin-bottom: 10px;
}

#templates>section>.list-group .btn-group {
    margin-left: 10px;
}

#exercice article {
    margin-left: 20px;
}

#exercice article>span {
    display: inline-block;
}

#exercice .exercice-name {
    width: 300px;
}

#exercice .exercice-question, #exercice .exercice-solution {
    width: 50px;
}

#help .list-group-item {
    display: flex;
    justify-content: space-between;
}

.navbar-brand a {
    color: white;
}

.input-result-true {
    background-color: green;
}

.input-result-false {
    background-color: red;
}

/** https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body

table {
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 200px;
    overflow-y: auto;
}



thead th {
    width: 24.7%;
    float: left;
}

thead th:last-child {
    background-color: red;
}

tbody td {
    width: 25%;
    float: left;
}

**/