@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('style/lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.svg#Oxygen') format('svg');
    /* Legacy iOS */
}

@media print {
    .noprint {
        visibility: hidden;
    }
}

#course {
    background: #fff;
    font-family: oxygen, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#course section>h1 {
    margin-bottom: 30px;
}

#course article>h2, #course article>h3, #course article>h4, #course article>h5, #course article>h6 {
    margin-top: 30px;
}

#course article.contain-h2 {
    margin-left: 50px;
}

#course article.contain-h3 {
    margin-left: 100px;
}

#course article.contain-h4 {
    margin-left: 150px;
}

#course article.contain-h5 {
    margin-left: 200px;
}

#course article.contain-h6 {
    margin-left: 250px;
}

#course p:not(.pass-through) {
    font-size: 1.2em;
}

#course p:not(.pass-through):before {
    content: '♦';
    margin-right: 15px;
    color: #6c757d;
    font-size: 2em;
    line-height: 0.4em;
    position: relative;
    top: 6px;
}

#course .list-group {
    margin-bottom: 30px;
}

#course .list-group-item>.list-group {
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#course pre code.hljs {
    padding: 0 0 0 20px;
}

#course .card {
    margin: 30px 0 30px 0;
}

#course kbd {
    margin-left: 5px;
    margin-right: 5px;
}

#course .blockquote {
    font-size: 1rem;
}