
/*
    Player
*/

.playerMenuWrapper {
    position: fixed;
    width: inherit;
    max-width: inherit;
    padding-right: 20px;
}

#player_menu {
    overflow: scroll;
    height: calc(100vh - 125px);
}

#player_menu .list-group-item {
    text-overflow: ellipsis;
}

#player_menu .size-h2 {
    margin-left: 20px;
}

#player_menu .size-h3 {
    margin-left: 40px;
}

#player_menu .size-h4 {
    margin-left: 60px;
}

#player_menu .size-h5 {
    margin-left: 80px;
}

#player_menu .size-h6 {
    margin-left: 100px;
}

#player {
    position: relative;
}

.playerMenuCloseButton {
    position: fixed;
    top: 96px;
    left: -10px;
    z-index: 1000;
    opacity: 0.3;
}

.playerMenuCloseButton:hover {
    opacity: 1;
}

#course section>div:first-of-type, #course article>div:first-of-type {
    position: relative;
    top: -90px;
}