:root {
    --color-dark: #252422;
    --color-medium: #403d39;
    --color-light: #ccc5b9;
    --color-lightest: #fffcf2;


    --color-flash: #eb5e28;
    --color-error: #d00000;
    --color-success: #4d8b31;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-medium);
}

.ta header .container,
.ta footer .container,
main {
    width: 80%;
    margin: 0 auto;
}

.ta header nav a:hover,
.ta header nav a.active {
    border-bottom: 2px solid var(--color-flash);
}

.ta header,
.ta footer {
    background-color: var(--color-dark);
    color: var(--color-lightest);
}

.ta header a {
    color: var(--color-lightest);
    text-decoration: none;
}

.ta header .container {
    display: flex;
    justify-content: space-between;
}

.ta header .logo a {
    display: flex;
    padding: 5px;
}

.ta header .logo div:first-child {
    width: 50px;
    height: 50px;
    background-image: url(../image/logo.png);
    background-size: contain;
}

.ta header .logo div:last-child {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.ta header nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}


.ta header nav li {
    padding: 5px;
}

.ta header nav a {
    padding-bottom: 5px;
}

.ta main {
    min-height: calc(100vh - 60px - 35px);
}

.ta footer {
    height: 25px;
}